# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
public/

# Cache
.cache/
.vscode/
.DS_Store
*.swp
*.swo
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# IDE settings
.idea/
*.iml
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# React-specific
*.pem
*.crt
*.key
.eslintcache
